h1 {
    text-align: center;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.header {
    text-align: left;
    margin-top: 5000px;
    margin-bottom: 5000px;
    margin-left: 5000px;
}
.navbar-brand{
    font-family: 'Lato', sans-serif;
    color: green;
}