{% extends "base.html" %}
{% block title %} Best Dressed {% endblock %}
{% block content %}


{# include "bootstrap_js.html #}

{# main content #}

<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card">
    <div class="d-grid gap-1">
      <a href="login.html" type="button" class="btn btn-primary btn-lg">Login</a>
      <a href="signup.html" type="button" class="btn btn-primary
					     btn-lg">Sign Up</a>
      
      <div class=card-body>Best Dressed is an application to build and
	share outfits, communicate with other users, and discover the
	latest fashion trends.</div>
    </div>
  </div>
</div>  

{% endblock %}
