{% extends "main.html" %}
{% load static %}
{% block title %} Item Listing {% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

<div style="background-color: #6D11E3;">
    <header class="py-5">
        <div style="margin:20px;">
            <h1> Find your style </h1>
        </div>
    </header>
</div>

<div style="margin:30px; font-size:50px;">

    <div class ="container">

        <div class="container">
            <div class="row justify-content-left">
                <div class="col-md-6">
                    <div class="search-container">
                        <input type="text" class="form-control search-input" placeholder="Search for an Item...">
                    </div>
                    <a href = "#" class = "btn btn-primary"
                       style = "font-size:20px; margin-top:20px;">
                        Add a new Item</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Meat and potatoes of the item listing -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!--List items from db-->
            {% for item in items %}
            <div class="col mb-5">
                <div class="card h-100 ">
                    <!-- Product image-->
                    <a href = "{{ item.get_absolute_url }}">
                        <img class="card-img-top " src ="{{item.image_url}}" alt="Logo"></img>
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{item.title}}</h5>
                            <p>{{item.description}} </p>
                            <a href = "#" class = "btn btn-primary" >
                                Add to Outfit </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}