name: Python Tests + Linting

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.12'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
      - name: Build databases
        run: |
            python manage.py makemigrations
            python manage.py makemigrations best_dressed_app
            python manage.py makemigrations users
            python manage.py migrate
      - name: Analysing the code with pylint
        run: |
            find ./* \( -path "./$(basename "${VIRTUAL_ENV:-/dev/null}")/*" -o -type d -name migrations \) \
             -prune -o -type f -name "*.py" -print0 | xargs -0 pylint
      - name: Test with django
        run: |
            coverage run manage.py test
      - name: Show coverage report
        run: |
            coverage report
